div.summary {
    -webkit-text-stroke: 0.2px black;
    color:whitesmoke;
    text-shadow:5px 0px 5px #000000, 0px 2px 5px #000000;
}
.table {
    --bs-table-bg: rgba(96, 96, 112, 0.85) !important;
    border: solid 1px #404245 !important;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 5px 5px 5px black;
}

.table > tbody > tr {
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.table > tbody > tr:hover{
    background-color: black;
}

.table > tbody > tr > td {
    color: whitesmoke;
    user-select: none;
}

.table > tbody > tr > th {
    color: whitesmoke;
}

.table > thead > tr > th > a, .table > thead > tr > th {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

h1.grid-title, h1.user-name {
    -webkit-text-stroke: 1px black;
    color: whitesmoke;
    text-shadow:5px 0px 5px #000000, 0px 3px 5px #000000;
}

/* Profile styles */
p.main-profile-stat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    margin:0;
    font-size: 1.7em;
    color: whitesmoke;
    font-weight: bold;
}

p.submain-profile-stat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    color: whitesmoke;
    margin: 0;
}

.custom-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    justify-content: center;
}

/*______________*/
