ol {
    list-style-type: decimal-leading-zero;
}

.avatar {
    vertical-align: sub;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.1em;
}

.custom-switch {
    height: 2.5rem !important;
    width: calc(4rem + 0.75rem) !important;
    border-radius: 4rem !important;
    background-color: transparent !important;
    border-color: #fff !important;
    float: none !important;
}

div#switches {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86%;
    color: whitesmoke;
    flex-direction: column;
}

div#switches > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 80%;
    border: solid 1px;
    border-radius: 15px;
    padding: 2%;
}

.form-switch {
    padding-left: 0 !important;
}

div#switches > div > div > input {
    margin-left: 0.5em;
}

.game-settings-h2 {
    margin: 0;
    text-align: center;
    background: rgba(171, 169, 180, 0.8);
    height: 7%;
    user-select: none;
}

.game-start-h2 {
    cursor: pointer;
}

span#deleteMember {
    font-size: 0.8em;
    float: right;
    margin-right: 1em;
    border: solid 1px;
    border-radius: 15px;
    padding: 1%;
    cursor: pointer;
    transition: 0.3s linear;
    user-select: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 1.5em;
    height: 1.5em;
}

span#deleteMember:hover {
    background-color: dimgray;
    /*background-color: ;*/
}

/* game/game */

div#gameBlock {
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

div#gameInfoBlock {
    height: 100%;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#timerBlock {
    padding: 1em;
    background: rgba(96, 96, 112, 0.85);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    max-height: 33%;
    min-height: 33%;
    position: relative;
    display: inline-flex;
    justify-content: space-around;;
}

div#membersBlock {
    padding: 1em 0;
    width: 100%;
    background: rgba(96, 96, 112, 0.85);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    max-height: 65%;
    min-height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

p.member-row{
    margin: 0 0 0 1em;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
}

span.member-name > .avatar{
    margin-left: 0.2em;
}

span#plus30 {
    background: rgba(62, 61, 75, 0.85);
    border-radius: 10px;
    margin-left: 0.2em;
    width: 2.5em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

span.member-name, span.fouls-list, span.member-button {
    background: rgba(62, 61, 75, 0.85);
    border-radius: 10px;
    margin-left: 0.25em;
    font-weight: normal !important;
    padding: 0 0.2em;
    width: 12em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

span.fouls-list {
    display: flex;
    justify-content: space-between;
    width: 8em;
}

span.fouls-list > span.foul {
    text-align: center;
    flex: 1 0 20%;
}

span.on-vote {
    background-color: whitesmoke !important;
    color: black !important;
    opacity: 0.85;
}

span.delete-member {
    background: rgba(62, 61, 75, 0.85);
    border-radius: 10px;
    margin-left: 0.25em;
    font-weight: bold !important;
    padding: 0;
    width: 1.3em;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-around;
}

/* модальное окно выбора причины удаления игрока */
div.modal-content {
    height: 8em;
    background: rgba(180, 177, 186, 0.85);
}

div.modal-body {
    padding: 0 !important;
}

div.modal-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div.modal-buttons > span {
    color: whitesmoke;
    background: rgba(62, 61, 75, 0.85);
    border-radius: 10px;
    font-weight: bold;
    padding: 0 0.2em;
    width: 12em;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opacity03 {
    opacity: 0.3;
}
/* _________ */


/* модальное окно лучшего хода */
div#theBestMoveModalHeader {
    display: flex;
    justify-content: space-around;
    height: 1em;
}

span#theBestMoveMembersList {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

span#theBestMoveMembersList > span.the-best-move-member {
    width: 1.5em;
    height: 1.5em;
    color: whitesmoke;
    background: rgba(62, 61, 75, 0.85);
    border-radius: 10px;
    font-weight: normal !important;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
}

div#theBestMoveModalFooter {
    padding: 0;
}

div#theBestMoveModalFooter > span#sendTheBestMove {
    background: rgba(62, 61, 75, 0.85);
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    color: whitesmoke;
}
/* _________ */

div#gameRulesBlock {
    width: 25%;
    padding: 0;
    background: rgba(96, 96, 112, 0.85);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

div#timer {
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

div#timerDisplay {
    height: 70%;
    background: rgba(62, 61, 75, 0.85);
    display: flex;
    border-radius: 10px;
}

span#timerDisplay {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
}

div#timerButtons {
    height: 30%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5vw;
}

span.timer-button {
    cursor: pointer;
    user-select: none;
}

div#hideGameRulesButtonBlock {
    position: absolute;
    right: 0.5em;
    top: 0;
}

span#hideGameRulesButton {
    color: whitesmoke;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
}

div#timerWithButtonsBlock {
    width: 30%;
    height: 100%;
}

div#membersOnVoteBLock {
    width: 65%;
    height: 100%;
    background: rgba(62, 61, 75, 0.85);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

span#membersOnVoteSpan {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    font-weight: bold;
    font-size: 3vw;
}

span#clearMembersOnVote {
    text-align: end;
    color: whitesmoke;
    cursor: pointer;
    user-select: none;
    padding-right: 0.5em;
    font-weight: bold;
}


/* Блок с правилами*/
#gameTime {
    margin: 0;
    text-align: center;
    background: rgba(171, 169, 180, 0.8);
    height: 5.5vh;
    user-select: none;
    font-size: 1.7vmax;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
}
div#deleteReasons, div#gameNotes, div#roleNote {
    background: rgba(62, 61, 75, 0.85);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 1vw 1vw;
    width: auto;
    height: auto;
    color: whitesmoke;
    font-size: 1vw;
}

div#deleteReasons > p, div#gameNotes > p, div#roleNote > p {
    text-align: center;
    font-weight: bold;
}

#finishGameButton {
    margin: 0;
    text-align: center;
    background: rgba(171, 169, 180, 0.8);
    height: 5.5vh;
    font-size: 2vw;
    user-select: none;
    cursor: pointer;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
}

/* страница финиша игры */
div#finishGameBlock {
    display: flex;
    justify-content: space-between;
}

div#memberRolesBlock {
    padding:0;
    background: rgba(96, 96, 112 ,0.85);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    max-height: 100%;
    width: 45%;
}

div#memberRoles {
    color: whitesmoke;
    font-size: 1.6em;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 93%;
}

div#gameHistoryBlock {
    padding:0;
    background: rgba(96, 96, 112 ,0.85);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    width: 45%;
}

div#gameHistory {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 93%;
    color: whitesmoke;
    flex-direction: column;
}

h2#startNewGameButton {
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;

    margin: 0;
    text-align: center;
    background: rgba(171, 169, 180, 0.8);
    height: 7%;
    user-select: none;

    cursor: pointer;
}

span.rating-green {
    color: green;
}

span.rating-red {
    color: red;
}

p.finish-member-row {
    margin: 0 0 0 1em;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
}

span.finish-member-name {
    background: rgba(62, 61, 75, 0.85);
    border-radius: 10px;
    margin-left: 0.25em;
    font-weight: normal !important;
    padding: 0 0.2em;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

span.member-change-rating {
    width: 10%;
}

#startGameSpinner {
    --bs-spinner-width: 2rem !important;
    --bs-spinner-height: 2rem !important;
    --bs-spinner-border-width: 0.2em;
}

#finishGameSpinner {
    --bs-spinner-width: 1rem !important;
    --bs-spinner-height: 1rem !important;
    --bs-spinner-border-width: 0.2em;
}

/* Подсвечиваем при наведении */
span.foul:hover,
span.member-name:hover,
span.member-button:hover,
span.delete-member:hover,
span.the-best-move-member:hover,
div#deleteMemberReasonModal > span:hover,
span.finish-game:hover,
span#sendTheBestMove:hover
 {
    background-color: grey !important;
}

